# Ignore virtual environment directories
env/
venv/

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore database file
*.sqlite3

# Ignore Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log
*/migrations/__pycache__/

# Ignore log files
*.log

# Ignore IDE specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
accounts/__pycache__/__init__.cpython-312.pyc
accounts/__pycache__/admin.cpython-312.pyc
accounts/__pycache__/apps.cpython-312.pyc
accounts/__pycache__/models.cpython-312.pyc
accounts/__pycache__/urls.cpython-312.pyc
accounts/__pycache__/views.cpython-312.pyc
accounts/migrations/__pycache__/__init__.cpython-312.pyc
accounts/migrations/__pycache__/0001_initial.cpython-312.pyc
core/__pycache__/__init__.cpython-312.pyc
core/__pycache__/admin.cpython-312.pyc
core/__pycache__/apps.cpython-312.pyc
core/__pycache__/forms.cpython-312.pyc
core/__pycache__/models.cpython-312.pyc
core/__pycache__/urls.cpython-312.pyc
core/__pycache__/views.cpython-312.pyc
core/migrations/__pycache__/__init__.cpython-312.pyc
core/migrations/__pycache__/0001_initial.cpython-312.pyc
core/migrations/__pycache__/0002_cart_promotion_rename_author_book_authors_and_more.cpython-312.pyc
core/migrations/__pycache__/0003_rename_price_book_unit_price.cpython-312.pyc
core/migrations/__pycache__/0004_book_slug.cpython-312.pyc
core/migrations/__pycache__/0005_alter_address_options_alter_category_options_and_more.cpython-312.pyc
core/migrations/__pycache__/0006_address_zip_code.cpython-312.pyc
core/migrations/__pycache__/0007_alter_address_options_alter_author_options_and_more.cpython-312.pyc
core/migrations/__pycache__/0008_remove_category_featured_book.cpython-312.pyc
core/migrations/__pycache__/0009_alter_book_promotions.cpython-312.pyc
core/migrations/__pycache__/0010_alter_book_description_alter_book_inventory_and_more.cpython-312.pyc
core/migrations/__pycache__/0011_alter_book_promotions_alter_cart_id.cpython-312.pyc
core/migrations/__pycache__/0012_alter_cartitem_cart_alter_cartitem_unique_together.cpython-312.pyc
core/migrations/__pycache__/0013_book_thumbnail.cpython-312.pyc
core/migrations/__pycache__/0014_order_total_cost_alter_cart_id.cpython-312.pyc
core/migrations/__pycache__/0015_remove_book_promotions_and_more.cpython-312.pyc
core/migrations/__pycache__/0016_remove_customer_role_delete_role.cpython-312.pyc
core/migrations/__pycache__/0017_alter_book_thumbnail.cpython-312.pyc
core/migrations/__pycache__/0018_alter_book_thumbnail.cpython-312.pyc
core/migrations/__pycache__/0019_alter_cart_id_alter_cartitem_cart_and_more.cpython-312.pyc
core/migrations/__pycache__/0020_alter_cartitem_unique_together_alter_cartitem_cart_and_more.cpython-312.pyc
core/migrations/__pycache__/0021_cart_customer.cpython-312.pyc
core/templatetags/__pycache__/custom_filters.cpython-312.pyc
KRALKNIH/__pycache__/__init__.cpython-312.pyc
KRALKNIH/__pycache__/settings.cpython-312.pyc
KRALKNIH/__pycache__/urls.cpython-312.pyc
KRALKNIH/__pycache__/wsgi.cpython-312.pyc
