{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                   Profil uživatele
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-warning w-100 mt-3" type="submit">Uložit změny</button>
                    </form>

                    {% if form.errors %}
                        <div class="alert alert-warning mt-3">
                            <p>Možné chyby:</p>
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
     <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <h2>Vaše objednávky</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID objednávky</th>
                        <th>Datum</th>
                        <th>Status</th>
                        <th>Celková cena</th>
                        <th>Zákazník</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.placed_at }}</td>
                            <td>{{ order.get_payment_status_display }}</td>
                            <td>{{ order.total_cost }}</td>
                            <td>{{ order.customer }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">Žádné objednávky nebyly nalezeny.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}