{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">  
        <div class="col-md-8 col-lg-6">  
            <div class="card shadow-sm border-light">   
                <div class="card-header bg-dark text-white"> 
                    Registrace
                </div>
                <div class="card-body">
                    <form method="post" novalidate> <!-- Formulář pro odeslání POST požadavku, novalidate zabraňuje standardní HTML validaci -->
                        {% csrf_token %}    <!-- Token pro ochranu proti CSRF útokům -->
                        
                        {% if form.non_field_errors %}   
                            <div class="alert alert-warning mb-3">  
                                <i class="bi bi-exclamation-triangle"></i> {{ form.non_field_errors }} 
                            </div>
                        {% endif %}

                        {% for field in form %}   
                            <div class="mb-3">   
                                <label for="{{ field.id_for_label }}" class="form-label">
                                    {{ field.label }}   
                                </label>
                                <div class="input-group">  
                                    {{ field|add_class:"form-control" }} 
                                    {% if field.errors %}    
                                        <div class="invalid-feedback"> 
                                            {% for error in field.errors %}  
                                                <i class="bi bi-exclamation-circle"></i> {{ error }}   
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                {% if field.help_text %} 
                                    <div class="form-text">{{ field.help_text }}</div>
                                  
                                {% endif %}
                            </div>
                        {% endfor %}

                        <button class="btn btn-warning w-100 mt-3" type="submit">
                           
                            <i class="bi bi-check-circle"></i> Potvrdit registraci 
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
