{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>Král Knih</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">

</head>

<body>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="{% url 'core:books' %}" style="display: inline-block;">
            <img src="{% static 'images/kk_logo.jpeg' %}"  alt="Král Knih Logo" style="height: 50px; padding-right: 5px; "> <span class="divider" name="divi1"></span>KRÁL KNIH
            <span class="divider" name="divi2"></span>
        </a>

        <div class="form-inline">   <!-- Kontejner pro formátování formuláře na jeden řádek -->
            <form method="GET" action="{% url 'core:search' %}" class="input-group input-group-sm"> 
                  <!-- Formulář, který odešle GET požadavek na URL definovanou v 'core:search' -->
                <input type="search" class="form-control rounded" placeholder="Hledat.." aria-label="Search" aria-describedby="search-addon" name="q" />
                <!-- Vstupní pole pro vyhledávání s třídou 'form-control' a 'rounded', které zaobluje rohy -->
                <div class="input-group-append">
                    <button class="btn btn-outline-warning rounded-right" type="submit">    <!-- Tlačítko pro odeslání formuláře s třídou 'btn' a 'btn-outline-warning' pro barvu a styl -->
                        <i class="fa fa-search" aria-hidden="true"></i>     <!-- Ikona lupy pro vyhledávání -->
                    </button>
                </div>
            </form>
        </div>
        
        


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  <!-- Tlačítko pro přepínání navigačního menu (collapse/expand) na mobilních zařízeních -->
            <span class="navbar-toggler-icon"></span>   <!-- Ikona pro tlačítko přepínače -->
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">  <!-- Kontejner pro skryté menu, které se zobrazuje po kliknutí na přepínač -->
            <ul class="navbar-nav mx-auto"> <!-- Seznam navigačních položek, který je centrován -->
                <li class="nav-item">   <!-- Jednotlivá navigační položka -->
                    <a class="nav-link-custom" href="{% url 'core:about' %}">&#128081 O našem týmu &#128081</a>   <!-- Odkaz na stránku "O našem týmu" s emoji -->
                </li>
            </ul>

                    
                {% if user.is_authenticated %}
                <span class="navbar-text">
                    Jeho veličenstvo..  <!-- Zobrazuje text "Jeho veličenstvo.." pro přihlášeného uživatele -->
                    {% if user.first_name and user.last_name %}   <!-- Kontroluje, zda má uživatel vyplněná jména (křestní a příjmení) -->
                        <a href="{% url 'accounts:profile' %}" class="username" style="color: #d4af37; text-decoration: underline;">{{ user.first_name }} {{ user.last_name }}<a/>
                    <!-- Odkaz na profil uživatele s použitím vlastního stylu -->
                    {% else %}        
                    <a href="{% url 'accounts:profile' %}" class="username" style="color: #d4af37; text-decoration: underline;">{{ user.username }}</a>
                    {% endif %}        
                    &#128081;</span>
                    <a href="{% url 'accounts:logout' %}" class="btn btn-light ml-2">Odhlásit se</a>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="btn btn-warning">Přihlásit se</a>
                {% endif %}
                <a href="{% url 'core:cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}" alt="Cart" >
                </a>
                <p id="cart_count">0</p> <!-- Element pro zobrazení počtu položek v nákupním košíku (výchozí hodnota je 0) -->
            </div> 
        </div>


       
    </nav>

    <div class="container fixed">
        {% block content %}
        {% endblock content %}
    </div>

<script src= "{% static 'js/base.js' %}" ></script>

</body>

</html>
