{% load static %}

<html {% if LANGUAGE_CODE %}lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>Král Knih</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            

        <a class="navbar-brand" href="{% url 'core:books' %}" style="display: inline-block;">
          
            <img src="{% static 'images/kk_logo.jpeg' %}"  alt="Král Knih Logo" style="height: 50px; padding-right: 5px; "> <span class="divider", name="divi1"></span>KRÁL KNIH
            <span class="divider", name="divi2"></span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link-custom" href="{% url 'core:about' %}">O nás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link-custom" href="/admin">Admin</a>
                </li>
            </ul>

            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'accounts:login' %}" class="btn btn-light">Přihlásit se</a>
                <a href="{% url 'core:cart' %}">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}" alt="Cart" >
                </a>
                <p id="cart-total" >0</p>
            </div>
        </div>
    </nav>

    <div class="container fixed">
        {% block content %}
        {% endblock content %}
    </div>
    
</body>

</html>
