{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="row">
	<div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/x.png' %}">
		<div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
		</div>
	</div>
   
        <div class="col-lg-4">
            <img class="thumbnail" src="{% static 'images/x.png' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>
            </div>
        </div>
      
     
            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'images/x.png' %}">
                <div class="box-element product">
                    <h6><strong>Product</strong></h6>
                    <hr>
                </div>
            </div>
</div>

{% endblock content %}


