{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Shrnutí objednávky</h1>
<div class="order-details">
    <h3>Informace o zákazníkovi</h3>
    <p>Jméno: {{ customer.first_name }} {{ customer.last_name }}</p>
    <p>Email: {{ customer.email }}</p>
    <p>Telefon: {{ customer.phone }}</p>
    <h4>Adresa</h4>
    <p>Ulice: {{ address.street }}</p>
    <p>Město: {{ address.city }}</p>
    <p>PSČ: {{ address.zip_code }}</p>
    <p>Země: {{ address.country }}</p>
    
    <h3>Informace o objednávce</h3>
    <ul>
        {% for item in items %}
        <li>{{ item.book.title }} - {{ item.quantity }} x {{ item.unit_price }}</li>
        {% endfor %}
    </ul>
    <p>Celková cena: {{ order.total_cost }}</p>
    
    <h3>Typ platby</h3>
    <form method="post">
        {% csrf_token %}
        {{ payment_form.as_p }}
        
        <h3>Delivery Method</h3>
        {{ delivery_form.as_p }}
        
        <input type="submit" class="btn btn-warning btn-block" value="Potvrdit objednávku">
    </form>
</div>
{% endblock %}
